# Database (Supabase PostgreSQL)
DATABASE_URL=

# Supabase
SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Upstash (Redis)
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=

# JWT
JWT_SECRET=

# FastAPI
NEXT_PUBLIC_API_URL=

# Node
NODE_ENV=

# Profile
SUPABASE_CARRIER_DOCS_BUCKET=
